docs/
es2015/
dist/*
!dist/acc-components.min.js
!dist/acc-components.js
assets/bundle.js
assets/style.css
node_modules/
.DS_Store
.sass-cache
*.swp
.idea/

*-error.log
*-debug.log

.js
package-lock.json
.distilla
